/*==========  Desktop First  ==========*/
@media screen and (max-width: 1600px)
	body
		font-size: 16px
		&.body-home
			&::before
				min-height: 3000px
				top: 2500px

	.ticker
		height: 117px
		
	.panel-sidebar
		width: 60px
		&:hover
			width: 230px
		&__list
			a
				font-size: 18px
				padding: 12px 15px
		svg
			flex: 0 0 28px
			width: 28px
			max-height: 28px

	.content
		font-size: 18px

	.modal
		&__close
			z-index: 99
			top: 15px
			right: 15px
			left: auto
			width: 26px
			height: 26px
			svg
				stroke: $black
			&_dark
				svg
					stroke: $white
	
	.modal-content
		&__inner
			padding-top: 50px !important

	.lang
		&__current
			&::after
				right: 18px
		&__dropdown
			margin-top: -2px

	.benefits
		&__row
			margin-bottom: -54px
		&__col
			margin-bottom: 54px

	.faq
		&__item
			&:not(:last-child)
				margin-bottom: 15px

	.toggle
		flex: 0 0 40px
		width: 40px
		height: 40px
		&__icon
			flex: 0 0 15px
			width: 15px
			height: 15px

	.showcase
		padding-top: 50px
		&__img-wrap
			width: 42%
			padding-bottom: 24%
			margin-bottom: 4.5%

	.section-terms
		.terms
			margin-bottom: 63px
		.countries
			margin-bottom: 52px

	.stage
		&__item
			&:nth-child(1)
				left: 33px
			&:nth-child(2)
				top: 250px
				right: -26px
			&:nth-child(3)
				top: 618px

	.checkbox
		&__box
			flex: 0 0 36px
			width: 36px
			height: 36px
			&::before
				flex: 0 0 18px
				width: 18px
				height: 18px

@media screen and (max-width: 1366px)
	.showcase
		padding-top: 20px
		&__img-wrap
			width: 50%
			padding-bottom: 32%
			margin-bottom: 4.5%

@media screen and (max-width: 1200px)
	// Общие стили и компоненты
	body
		&.body-home
			&::before
				top: 2900px

	.content
		font-size: 16px
		h2
			margin-bottom: 30px
		p, ul, ol
			margin-bottom: 20px

	.checkbox
		&__box
			flex: 0 0 32px
			width: 32px
			height: 32px
			&::before
				flex: 0 0 16px
				width: 16px
				height: 16px
		
	.form-join
		&__checkboxes
			padding: 0

	.select
		.option
			padding: 20px 30px

	.form
		&__row
			margin-left: -15px
			margin-right: -15px
		&__col
			padding: 0 15px
		&__link
			font-size: 20px

	.stage
		&__items
			display: none

	// Шапка
	.mobile-menu
		&__btn
			width: 100%

	// Футер
	.footer
		&__col
			flex: 0 0 100%
			max-width: none
			width: 100%
			&_copyright
				order: 3
			&_socials
				order: 1
				margin-bottom: 20px
			&_links
				order: 2
				margin-bottom: 20px
		&__copyright
			text-align: center
		&__links
			justify-content: center
			margin-top: 24px

	.item-social
		flex: 0 0 60px
		width: 60px
		height: 60px
		&__icon
			max-width: 28px
			height: 28px

	// Секции
	.showcase
		&__img-wrap
			&::before
				width: 1051px
				height: 666px

	.countries
		&__col
			flex: 0 0 15%
			max-width: 15%

	.section-auth, .section-restore-password
		.stage
			background-size: contain

	.item-benefit
		&__content 
			max-width: 330px;
			width: 100%;
			margin: 0 auto;

	.mm-modal
		&__wrapper
			padding: 100px 20px
			&--documents
				padding: 20px

@media screen and (max-width: 1024px)
	.page-title
		font-size: 40px

@media screen and (max-width: 991px)
	// Общие стили и компоненты

	body
		font-size: 15px

	.btn
		&-lg
			font-size: 16px

	.title
		font-size: 23px
		line-height: 1.1

	.content
		h2
			font-size: 40px

	.checkbox
		&__box
			flex: 0 0 28px
			width: 28px
			height: 28px
			border-radius: 6px
			&::before
				background-image: url(../img/icons/check-bold.svg)
				flex: 0 0 14px
				width: 14px
				height: 14px
		&__text
			margin-left: 12px

	.select
		.option
			padding: 20px 25px
			font-size: 18px

	.form
		&__link, &__restore-password
			font-size: 18px

	.msg-form
		padding: 20px 25px
		&__icon
			flex: 0 0 35px
			width: 35px
			height: 35px
			margin-right: 15px
		&__text
			font-size: 18px

	.ticker
		height: 104px
		animation-duration: 20s

	.panel-sidebar
		display: none

	.stage
		background-position: center 100px

	.preloader
		&__img
			max-width: 110px

	// Шапка
	.header
		padding-left: 40px !important
		// position: relative
		&__hamburger
			display: block
			position: absolute
			top: 50%
			left: 10px
			transform: translateY(-50%)

	.lang
		flex: 0 0 105px
		width: 105px
		&.active
			.lang
				&__current
					border-radius: 10px 10px 0 0
		&__flag-wrap
			flex: 0 0 25px
			width: 25px
			height: 18px
			margin-right: 10px
			img
				border-radius: 2px
		&__current, &__link
			font-size: 14px
		&__current
			padding: 13px 14px 12px
			border-radius: 10px
			&::after
				width: 8px
				height: 8px
				right: 15px
		&__link
			padding: 0 14px
		&__dropdown
			border-radius: 0 0 10px 10px
			margin-top: -1px
			padding-top: 3px
			padding-bottom: 13px

	.socials
		margin-left: -5.5px
		margin-right: -5.5px
		margin-bottom: -11px
		&__item
			margin: 0 5.5px 11px

	// Секции
	.section-showcase
		padding-top: 78px
		padding-bottom: 80px
	
	.content-page
		padding-top: 100px

	.showcase
		&__img-wrap
			width: 80%
			padding-bottom: 50%
			margin-bottom: 30px
			&::before
				width: 889px
				height: 541px
	
	.section-benefits
		padding-top: 85px
	
	.item-benefit
		&__img-wrap
			height: 116px
		&__text 
			font-size: 16.5px;

	.contacts
		&__row
			margin-left: -8px
			margin-right: -8px
			margin-bottom: -16px
		&__col
			padding: 0 8px
			margin-bottom: 16px

	.item-contacts
		padding: 30px 20px

	.section-terms
		.terms
			margin-bottom: 56px
		.countries
			margin-bottom: 44px

	.item-term
		padding: 40px 10px 30px
		&__icon
			max-height: 56px

	.countries
		&__col
			flex: 0 0 20%
			max-width: 20%

	.item-country
		&__img
			max-width: 55px
			margin: 0 auto 11px

	.partners
		&__col
			flex: 0 0 25%
			max-width: 25%

	.item-partner
		&__img
			max-width: 100%

	.mm-modal
		&__wrapper
			padding: 100px 50px
			&--documents
				padding: 20px

	.modal
		&__close
			width: 30px
			height: 30px

	.section-post-recommendations
		margin: 100px 0 0

@media screen and (max-width: 767px)
	// Общие стили и компоненты

	body
		font-size: 13px

	.btn
		&-lg
			font-size: 14px
			border-radius: 12px
		&-modal
			padding: 14px 16px !important

	.title
		font-size: 14px
		line-height: 1.3

	.content
		font-size: 14px
		h2
			font-size: 36px

	.section-title
		font-size: 32px
		margin-bottom: 16px !important
		line-height: 1.3

	.page-title
		line-height: 1

	.checkbox
		&__box
			flex: 0 0 25px
			width: 25px
			height: 25px
			border-radius: 4px
		&__text
			margin-left: 8px
			font-size: 12px
		
	.form-join
		&__controls
			margin-bottom: 16px
		&__checkboxes
			margin-bottom: 24px

	.control, .select, .textarea
		padding: 10px 16px

	.select
		&::after
			right: 16px
		.option
			padding: 20px 20px

	.form
		&__row
			margin-bottom: -10px
		&__col
			margin-bottom: 12px
		&__link, &__restore-password
			font-size: 16px
		&__msg
			margin-top: 10px

	.msg-form
		padding: 20px
		border-radius: 10px
		&__icon
			flex: 0 0 30px
			width: 30px
			height: 30px
		&__text
			font-size: 14px

	.ticker
		height: 90px

	.card
		padding: 8px 8px 16px
		&__img-wrap
			margin-bottom: 8px
		&__date
			font-size: 12px !important
			width: 56px
			padding: 6px 4px
		&__title
			margin-bottom: 8px
			font-size: 14px !important
		&__text-wrap
			font-size: 12px

	// Шапка
	.header
		&__container
			padding: 0 16px
		&__logo
			img
				max-width: 110px
		&__btn
			&:not(:last-of-type)
				margin-right: 8px
		&__hamburger
			left: 6px
			.hamburger-inner
				&, &::before, &::after
					width: 30px

	// Футер
	.footer
		&__col
			&_links
				margin-bottom: 10px
		&__links
			a
				font-size: 14px
		&__copyright
			font-size: 14px

	.socials
		margin-left: -4px
		margin-right: -4px
		margin-bottom: -10px
		&__item
			margin: 0 4px 10px

	.item-social
		flex: 0 0 40px
		width: 40px
		height: 40px
		overflow: hidden
		&__icon
			max-width: 16px
			height: auto

	// Секции
	.section-showcase
		padding-bottom: 32px
	
	.section-benefits
		padding: 35px 0 16px
	.section-terms
		margin: 16px 0 0
	.section-faq
		padding: 32px 0 26px
	.section-news
		margin: 26px 0 16px
	.section-callback
		margin: 16px 0 16px
	.section-contacts
		margin: 26px 0 0

	.showcase
		padding-top: 0
		margin-top: -20px
		&__img-wrap
			&::before
				width: 727px
				height: 416px
		&__title
			margin-bottom: 16px
		&__text-wrap
			font-size: 16px
			line-height: 1.3;

	.benefits
		&__row
			max-width: 430px
			width: 100%
			margin: 0 auto -32px
		&__col
			margin-bottom: 32px

	.item-benefit
		flex-direction: row
		align-items: center
		text-align: left
		&__img-wrap
			flex: 0 0 150px
			width: 150px
			display: block
			height: auto
			margin-bottom: 0
			margin-right: 30px
		&__img
			max-height: 105px
			margin: 0 auto
		&__content 
			max-width: none
			margin: 0
		&__title
			margin-bottom: 4px
		&__text
			font-size: 12px

	.section-terms
		.terms
			margin-bottom: 50px
		.countries
			margin-bottom: 36px

	.terms
		&__row
			margin-left: -8px
			margin-right: -8px
			margin-bottom: -16px
		&__col
			padding: 0 8px
			margin-bottom: 16px

	.item-term
		border-radius: 12px
		padding: 16px 10px 8px
		&__icon
			max-height: 26px
			margin-bottom: 16px

	.toggle
		flex: 0 0 30px
		width: 30px
		height: 30px
		border-width: 1px
		&__icon
			flex: 0 0 12px
			width: 12px
			height: 12px
			margin-right: -3px

	.item-contacts
		padding: 25px 10px
		&__icon
			max-height: 32px
			margin: 0 auto 15px
		&__title
			margin-bottom: 5px
			font-size: 12px
		&__value
			font-size: 12px

	.item-country
		&__img
			max-width: 40px

	.form-auth
		&__controls
			margin-bottom: 30px
		&__restore-password-wrap
			margin: -18px 0 30px
		&__links
			margin-top: 30px

	.item-document
		padding: 10px 16px
		&__text
			font-size: 16px

@media screen and (max-width: 575px)
	// Общие стили и компоненты
	body
		font-size: 12px
		&.body-home
			&::before
				min-height: 2000px
				top: 2000px

	.content
		font-size: 12px
		h2
			font-size: 22px
			margin-bottom: 20px
		p, ul, ol
			margin-bottom: 15px

	.content-page
		padding-bottom: 25px

	.page-title
		font-size: 32px

	.control, .select, .textarea
		border-width: 1px

	.checkbox
		&__box
			flex: 0 0 20px
			width: 20px
			height: 20px
			border-width: 1px
			&::before
				flex: 0 0 13px
				width: 13px
				height: 13px

	.select
		&::after
			width: 8px
			height: 8px
		.nice-select-dropdown
			border-radius: 10px
		.option
			padding: 10px 17px
			font-size: 14px

	.form
		&__link, &__restore-password
			font-size: 14px
		&__msg
			margin-bottom: 55px

	.msg-form
		padding: 15px 17px
		&__icon
			flex: 0 0 21px
			width: 21px
			height: 21px
			margin-right: 9px
		&__text
			font-size: 12px

	.ticker
		height: 66px
		animation-duration: 26s

	.stage
		background-position: center 77px

	// Шапка
	.header
		padding: 16px 0 16px 32px !important
		&__logo
			img
				max-width: 92px
		&__hamburger
			.hamburger-box
				width: 22px
				height: 20px
			.hamburger-inner
				&, &::before, &::after
					width: 22px
				&::before
					top: 8px
				&::after
					top: 16px
			&.is-active
				.hamburger-inner
					&::before
						transform: translate3d(0, 6px, 0) rotate(45deg)
					&::after
						transform: translate3d(0, 6px, 0) rotate(-45deg)

	// Футер
	.footer
		padding: 32px 0 16px

	// Секции
	.showcase
		&__img-wrap
			width: 90%
			padding-bottom: 57%
			margin-bottom: 32px
			&::before
				width: 565px
				height: 289px
		&__text-wrap
			font-size: 14px
			margin-bottom: 24px

	.item-benefit
		&__img-wrap
			flex: 0 0 114px
			width: 114px
			margin-right: 16px
		&__img
			max-height: 78px

	.benefits
		&__row
			max-width: 370px
		&__col
			padding: 0

	.section-terms
		.terms
			margin-bottom: 37px
		.countries
			margin-bottom: 30px

	.item-term
		padding: 12px 5px 11px

	.toggle
		flex: 0 0 20px
		width: 20px
		height: 20px
		&__icon
			flex: 0 0 8px
			width: 8px
			height: 8px
			margin-right: -2px

	.faq
		&__item
			&:not(:last-child)
				margin-bottom: 8px

	.item-faq
		border-radius: 12px
		&.active
			.item-faq
				&__header
					padding-bottom: 8px
		&__header
			color: red
			padding: 8px
		&__title
			font-size: 14px !important
		&__body
			font-size: 12px
			padding: 0 8px 8px

	.item-contacts
		padding: 13px 10px
		border-radius: 12px
		&__icon
			margin: 0 auto 10px
			max-height: 26px
		&__title
			margin-bottom: 3px

	.item-country
		&__img
			max-width: 33px

	.partners
		&__row
			margin-left: -12px
			margin-right: -12px
			margin-bottom: -12px
		&__col
			padding: 0 12px
			margin-bottom: 12px

	.documents
		&__item
			&:not(:last-child)
				margin-bottom: 8px

	.item-document
		border-radius: 12px
		&__icon-wrap
			flex: 0 0 30px
			width: 30px

	.modal
		border-radius: 0
		&__close
			width: 20px
			height: 20px
			top: 10px
			right: 10px

	.modal-content
		&--documents
			border-radius: 20px !important
			& .modal-content__inner--documents
				border-radius: inherit
		&__inner
			padding-top: 30px !important

	.modal-auth
		&__inner
			padding: 80px 16px 40px
			background-color: rgba(39, 39, 39, .8)
			min-height: 100%
		&__title
			margin-bottom: 42px

	.modal-is-ok
		&__inner
			padding: 80px 16px 40px
			background-color: rgba(39, 39, 39, .8)
			min-height: 100%
		&__title
				margin-bottom: 32px
		&__descr
			font-size: 14px
			max-width: 310px
			width: 100%
			margin: 0 auto 88px
			& br 
				display: none
		&__wrap-img
			max-width: 150px

	.section-post-recommendations
		margin: 60px 0 0

	.mm-modal
		&__wrapper
			padding: 20px 0

@media screen and (max-width: 991px) and (max-height: 420px)
	.mm-modal
		&__wrapper
			padding: 20px
	
	.modal
		border-radius: 8px

@media screen and (max-width: 991px) and (min-height: 570px)
	.mobile-menu
		&__btns
			position: absolute
			left: 20px
			bottom: 115px
			width: calc(100% - 30px)
		&__contacts
			position: absolute
			left: 20px
			bottom: 26px
			width: calc(100% - 40px)

// ≥375px
@media screen and (max-width: 382px)
	.header
		&__logo
			& img
				max-width: 34px
			&-normal
				display: none

@media screen and (max-width: 375px)
	.mobile-menu
		width: auto
		right: 40px

	.content
		h2
			font-size: 20px

@media screen and (max-width: 310px)
	.mobile-menu
		width: 100%
		right: 0

/*==========  Mobile First  ==========*/
@media screen and (min-width: 1600px) and (max-height: 924px)
	.showcase
		padding-top: 40px
		&__img-wrap
			width: 53%;
			padding-bottom: 32%;
			margin: 0 auto 4%;

@media screen and (min-width: 1200px)
	// Общие стили и компоненты
	// Шапка
	// Футер
	// Секции

@media screen and (min-width: 992px)
	// Общие стили и компоненты
	// Шапка
	// Футер
	// Секции

@media screen and (min-width: 768px)
	.page-title
		& br
			display: none

	.showcase
		&__text-wrap
			& br
				display: none
	// Общие стили и компоненты
	// Шапка
	// Футер
	// Секции

@media screen and (min-width: 576px)
	// Общие стили и компоненты
	// Шапка
	// Футер
	// Секции

@media screen and (min-width: 382px)
	.header
		&__logo
			&-mini
				display: none