{{> header title="Loft" class="body-home"}}

<div class="home">
	<section class="section-showcase">

		<div class="stage">
			<div class="container">

				<div class="stage__items">
					<img src="assets/img/main/chip-1.png" alt="alt" class="stage__item rotating img-responsive">
					<img src="assets/img/main/chip-2.png" alt="alt" class="stage__item rotating img-responsive">
					<img src="assets/img/main/chip-3.png" alt="alt" class="stage__item rotating img-responsive">
				</div>

			</div>
		</div>

		<div class="container">

			<div class="showcase">
				<div class="showcase__img-wrap">
					<img src="assets/img/main/loft-gif.gif" alt="alt" class="showcase__img img-responsive">
				</div>
				<h1 class="showcase__title page-title">Неограниченный уровень дохода</h1>
				<div class="showcase__text-wrap">
					<p>с партнёрской программой от прямого гемблинг рекламодателя</p>
				</div>
				<div class="showcase__btn-wrap">
					<a href="index.html#join" class="showcase__btn btn btn-lg btn-accent">Присоединиться</a>
				</div>
			</div>

		</div>
	</section>

	<div class="ticker"></div>

	<section class="section-benefits" id="benefits">
		<div class="container">

			<div class="benefits">
				<div class="benefits__row row">
					<div class="benefits__col col-xl-4 col-md-6">
						<div class="benefits__item item-benefit">
							<div class="item-benefit__img-wrap">
								<img src="assets/img/main/divan.png" alt="alt" class="item-benefit__img img-responsive">
							</div>
							<div class="item-benefit__content">
								<div class="item-benefit__title title">Удобный личный кабинет</div>
								<div class="item-benefit__text">Обновление статистики в режиме реального времени</div>
							</div>
						</div>
					</div>
					<div class="benefits__col col-xl-4 col-md-6">
						<div class="benefits__item item-benefit">
							<div class="item-benefit__img-wrap">
								<img src="assets/img/main/conv.png" alt="alt" class="item-benefit__img img-responsive">
							</div>
							<div class="item-benefit__content">
								<div class="item-benefit__title title">Топовая конверсия в регистрацию и депозит</div>
								<div class="item-benefit__text">Лучший Retention rate и LTV юзера</div>
							</div>
						</div>
					</div>
					<div class="benefits__col col-xl-4 col-md-6">
						<div class="benefits__item item-benefit">
							<div class="item-benefit__img-wrap">
								<img src="assets/img/main/prono.png" alt="alt" class="item-benefit__img img-responsive">
							</div>
							<div class="item-benefit__content">
								<div class="item-benefit__title title">Рабочие промо-материалы</div>
								<div class="item-benefit__text">Постоянно обновляемая база креативов</div>
							</div>
						</div>
					</div>
					<div class="benefits__col col-xl-4 col-md-6">
						<div class="benefits__item item-benefit">
							<div class="item-benefit__img-wrap">
								<img src="assets/img/main/chips.png" alt="alt" class="item-benefit__img img-responsive">
							</div>
							<div class="item-benefit__content">
								<div class="item-benefit__title title">Оперативные выплаты партнерам</div>
								<div class="item-benefit__text">Различные варианты вывода средств</div>
							</div>
						</div>
					</div>
					<div class="benefits__col col-xl-4 col-md-6">
						<div class="benefits__item item-benefit">
							<div class="item-benefit__img-wrap">
								<img src="assets/img/main/radio.png" alt="alt" class="item-benefit__img img-responsive">
							</div>
							<div class="item-benefit__content">
								<div class="item-benefit__title title">Индивидуальный подход к партнеру</div>
								<div class="item-benefit__text">Детальная аналитика трафика для максимальной монетизации
								</div>
							</div>
						</div>
					</div>
					<div class="benefits__col col-xl-4 col-md-6">
						<div class="benefits__item item-benefit">
							<div class="item-benefit__img-wrap">
								<img src="assets/img/main/clock.png" alt="alt" class="item-benefit__img img-responsive">
							</div>
							<div class="item-benefit__content">
								<div class="item-benefit__title title">Личный менеджер 24/7</div>
								<div class="item-benefit__text">Поддержка на всех этапах сотрудничества</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="section-terms">
		<div class="container">

			<h2 class="section-title">Условия</h2>

			<div class="terms">
				<div class="terms__row row">
					<div class="terms__col col-lg-4 col-6">
						<div class="terms__item item-term">
							<img src="assets/img/main/dollar.svg" alt="alt" class="item-term__icon img-responsive">
							<div class="item-term__title title">CPA до $200</div>
						</div>
					</div>
					<div class="terms__col col-lg-4 col-6">
						<div class="terms__item item-term">
							<img src="assets/img/main/percent.svg" alt="alt" class="item-term__icon img-responsive">
							<div class="item-term__title title">RevShare до 50%</div>
						</div>
					</div>
					<div class="terms__col col-lg-4 col-6">
						<div class="terms__item item-term">
							<img src="assets/img/main/rocket.svg" alt="alt" class="item-term__icon img-responsive">
							<div class="item-term__title title">Hybrid — по запросу</div>
						</div>
					</div>
				</div>
			</div>

			<div class="countries">
				<div class="countries__row row">
					<div class="countries__col">
						<div class="countries__item item-country">
							<img src="assets/img/main/usa.png" alt="alt" class="item-country__img img-responsive">
							<div class="item-country__title">Латинская Америка</div>
						</div>
					</div>
					<div class="countries__col">
						<div class="countries__item item-country">
							<img src="assets/img/main/austr.png" alt="alt" class="item-country__img img-responsive">
							<div class="item-country__title">Австралия</div>
						</div>
					</div>
					<div class="countries__col">
						<div class="countries__item item-country">
							<img src="assets/img/main/brasik.png" alt="alt" class="item-country__img img-responsive">
							<div class="item-country__title">Бразилия</div>
						</div>
					</div>
					<div class="countries__col">
						<div class="countries__item item-country">
							<img src="assets/img/main/canada.png" alt="alt" class="item-country__img img-responsive">
							<div class="item-country__title">Канада</div>
						</div>
					</div>
					<div class="countries__col">
						<div class="countries__item item-country">
							<img src="assets/img/main/ind.png" alt="alt" class="item-country__img img-responsive">
							<div class="item-country__title">Индия</div>
						</div>
					</div>
					<div class="countries__col">
						<div class="countries__item item-country">
							<img src="assets/img/main/kz.png" alt="alt" class="item-country__img img-responsive">
							<div class="item-country__title">Казахстан</div>
						</div>
					</div>
					<div class="countries__col">
						<div class="countries__item item-country">
							<img src="assets/img/main/port.png" alt="alt" class="item-country__img img-responsive">
							<div class="item-country__title">Португалия</div>
						</div>
					</div>
					<div class="countries__col">
						<div class="countries__item item-country">
							<img src="assets/img/main/rus.png" alt="alt" class="item-country__img img-responsive">
							<div class="item-country__title">Россия</div>
						</div>
					</div>
					<div class="countries__col">
						<div class="countries__item item-country">
							<img src="assets/img/main/spain.png" alt="alt" class="item-country__img img-responsive">
							<div class="item-country__title">Испания</div>
						</div>
					</div>
				</div>
			</div>

			<div class="partners">
				<div class="partners__row row">
					<div class="partners__col">
						<div class="partners__item item-partner">
							<img src="assets/img/main/qiwi.png" alt="alt" class="item-partner__img img-responsive">
						</div>
					</div>
					<div class="partners__col">
						<div class="partners__item item-partner">
							<img src="assets/img/main/bit.png" alt="alt" class="item-partner__img img-responsive">
						</div>
					</div>
					<div class="partners__col">
						<div class="partners__item item-partner">
							<img src="assets/img/main/bw.png" alt="alt" class="item-partner__img img-responsive">
						</div>
					</div>
					<div class="partners__col">
						<div class="partners__item item-partner">
							<img src="assets/img/main/mc.png" alt="alt" class="item-partner__img img-responsive">
						</div>
					</div>
					<div class="partners__col">
						<div class="partners__item item-partner">
							<img src="assets/img/main/visa.png" alt="alt" class="item-partner__img img-responsive">
						</div>
					</div>
					<div class="partners__col">
						<div class="partners__item item-partner">
							<img src="assets/img/main/net.png" alt="alt" class="item-partner__img img-responsive">
						</div>
					</div>
					<div class="partners__col">
						<div class="partners__item item-partner">
							<img src="assets/img/main/skrill.png" alt="alt" class="item-partner__img img-responsive">
						</div>
					</div>
					<div class="partners__col">
						<div class="partners__item item-partner">
							<img src="assets/img/main/wm.png" alt="alt" class="item-partner__img img-responsive">
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="section-faq" id="faq">
		<div class="container">

			<h2 class="section-title">Faq</h2>

			<div class="row justify-content-center">
				<div class="col-xl-8">
					<div class="faq">
						<div class="faq__items">
							<div class="faq__item item-faq">
								<div class="item-faq__header">
									<div class="item-faq__title title">Что такое партнерская программа Loft.partners?
									</div>
									<div class="item-faq__toggle toggle">
										<img src="assets/img/icons/arrow-right.svg" alt="alt" class="toggle__icon">
									</div>
								</div>
								<div class="item-faq__body">
									<p>Loft.partners — это партнерская программа от прямого рекламодателя Loftcasino.
										Для того что бы начать зарабатывать с партнерской программой Loft.partners,
										необходимо зарегистрироваться на сайте, настроить ваш поток трафика на продукты
										Loft Casino и получать свой доход от привлеченных игроков удобным для вас
										способом.</p>
								</div>
							</div>
							<div class="faq__item item-faq">
								<div class="item-faq__header">
									<div class="item-faq__title title">В каких ГЕО мы работаем?</div>
									<div class="item-faq__toggle toggle">
										<img src="assets/img/icons/arrow-right.svg" alt="alt" class="toggle__icon">
									</div>
								</div>
								<div class="item-faq__body">
									<p>Loft.partners — это партнерская программа от прямого рекламодателя Loftcasino.
										Для того что бы начать зарабатывать с партнерской программой Loft.partners,
										необходимо зарегистрироваться на сайте, настроить ваш поток трафика на продукты
										Loft Casino и получать свой доход от привлеченных игроков удобным для вас
										способом.</p>
								</div>
							</div>
							<div class="faq__item item-faq">
								<div class="item-faq__header">
									<div class="item-faq__title title">Какие модели оплаты у нас есть?</div>
									<div class="item-faq__toggle toggle">
										<img src="assets/img/icons/arrow-right.svg" alt="alt" class="toggle__icon">
									</div>
								</div>
								<div class="item-faq__body">
									<p>Loft.partners — это партнерская программа от прямого рекламодателя Loftcasino.
										Для того что бы начать зарабатывать с партнерской программой Loft.partners,
										необходимо зарегистрироваться на сайте, настроить ваш поток трафика на продукты
										Loft Casino и получать свой доход от привлеченных игроков удобным для вас
										способом.</p>
								</div>
							</div>
							<div class="faq__item item-faq">
								<div class="item-faq__header">
									<div class="item-faq__title title">Как часто вы можете выводить средства?</div>
									<div class="item-faq__toggle toggle">
										<img src="assets/img/icons/arrow-right.svg" alt="alt" class="toggle__icon">
									</div>
								</div>
								<div class="item-faq__body">
									<p>Loft.partners — это партнерская программа от прямого рекламодателя Loftcasino.
										Для того что бы начать зарабатывать с партнерской программой Loft.partners,
										необходимо зарегистрироваться на сайте, настроить ваш поток трафика на продукты
										Loft Casino и получать свой доход от привлеченных игроков удобным для вас
										способом.</p>
								</div>
							</div>
							<div class="faq__item item-faq">
								<div class="item-faq__header">
									<div class="item-faq__title title">Какие источники трафика мы принимаем?</div>
									<div class="item-faq__toggle toggle">
										<img src="assets/img/icons/arrow-right.svg" alt="alt" class="toggle__icon">
									</div>
								</div>
								<div class="item-faq__body">
									<p>Loft.partners — это партнерская программа от прямого рекламодателя Loftcasino.
										Для того что бы начать зарабатывать с партнерской программой Loft.partners,
										необходимо зарегистрироваться на сайте, настроить ваш поток трафика на продукты
										Loft Casino и получать свой доход от привлеченных игроков удобным для вас
										способом.</p>
								</div>
							</div>
							<div class="faq__item item-faq">
								<div class="item-faq__header">
									<div class="item-faq__title title">Какие KPI по трафику у нас есть?</div>
									<div class="item-faq__toggle toggle">
										<img src="assets/img/icons/arrow-right.svg" alt="alt" class="toggle__icon">
									</div>
								</div>
								<div class="item-faq__body">
									<p>Loft.partners — это партнерская программа от прямого рекламодателя Loftcasino.
										Для того что бы начать зарабатывать с партнерской программой Loft.partners,
										необходимо зарегистрироваться на сайте, настроить ваш поток трафика на продукты
										Loft Casino и получать свой доход от привлеченных игроков удобным для вас
										способом.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="section-news">
		<div class="container">

			<h2 class="section-title">Новости</h2>

			<div class="row justify-content-center">
				<div class="col-xl-6">
					<div class="slider-news slider swiper">
						<div class="slider-news__items slider__items swiper-wrapper">
							<div class="slider-news__slide slider__slide swiper-slide">
								<a href="news-single.html" class="card card_md">
									<div class="card__img-wrap">
										<img src="assets/img/main/card-1.jpg" alt="alt"
											class="card__img img-responsive">
										<span class="card__date title">27.03</span>
									</div>
									<div class="card__title title">Повышаем выплаты</div>
									<div class="card__text-wrap">
										<p>Loft.partners — это партнерская программа от прямого рекламодателя
											Loftcasino. Для того что бы начать зарабатывать с партнерской программой
											Loft.partners, необходимо зарегистрироваться на сайте. Для того что бы
											начать зарабатывать с партнерской программой Loft.partners.</p>
									</div>
									<div class="card__btn-wrap">
										<span class="card__btn btn btn-lg btn-accent">Подробнее</span>
									</div>
								</a>
							</div>
							<div class="slider-news__slide slider__slide swiper-slide">
								<a href="news-single.html" class="card card_md">
									<div class="card__img-wrap">
										<img src="assets/img/main/card-1.jpg" alt="alt"
											class="card__img img-responsive">
										<span class="card__date title">27.03</span>
									</div>
									<div class="card__title title">Повышаем выплаты</div>
									<div class="card__text-wrap">
										<p>Loft.partners — это партнерская программа от прямого рекламодателя
											Loftcasino. Для того что бы начать зарабатывать с партнерской программой
											Loft.partners, необходимо зарегистрироваться на сайте. Для того что бы
											начать зарабатывать с партнерской программой Loft.partners.</p>
									</div>
									<div class="card__btn-wrap">
										<span class="card__btn btn btn-lg btn-accent">Подробнее</span>
									</div>
								</a>
							</div>
							<div class="slider-news__slide slider__slide swiper-slide">
								<a href="news-single.html" class="card card_md">
									<div class="card__img-wrap">
										<img src="assets/img/main/card-1.jpg" alt="alt"
											class="card__img img-responsive">
										<span class="card__date title">27.03</span>
									</div>
									<div class="card__title title">Повышаем выплаты</div>
									<div class="card__text-wrap">
										<p>Loft.partners — это партнерская программа от прямого рекламодателя
											Loftcasino. Для того что бы начать зарабатывать с партнерской программой
											Loft.partners, необходимо зарегистрироваться на сайте. Для того что бы
											начать зарабатывать с партнерской программой Loft.partners.</p>
									</div>
									<div class="card__btn-wrap">
										<span class="card__btn btn btn-lg btn-accent">Подробнее</span>
									</div>
								</a>
							</div>
							<div class="slider-news__slide slider__slide swiper-slide">
								<a href="news-single.html" class="card card_md">
									<div class="card__img-wrap">
										<img src="assets/img/main/card-1.jpg" alt="alt"
											class="card__img img-responsive">
										<span class="card__date title">27.03</span>
									</div>
									<div class="card__title title">Повышаем выплаты</div>
									<div class="card__text-wrap">
										<p>Loft.partners — это партнерская программа от прямого рекламодателя
											Loftcasino. Для того что бы начать зарабатывать с партнерской программой
											Loft.partners, необходимо зарегистрироваться на сайте. Для того что бы
											начать зарабатывать с партнерской программой Loft.partners.</p>
									</div>
									<div class="card__btn-wrap">
										<span class="card__btn btn btn-lg btn-accent">Подробнее</span>
									</div>
								</a>
							</div>
							<div class="slider-news__slide slider__slide swiper-slide">
								<a href="news-single.html" class="card card_md">
									<div class="card__img-wrap">
										<img src="assets/img/main/card-1.jpg" alt="alt"
											class="card__img img-responsive">
										<span class="card__date title">27.03</span>
									</div>
									<div class="card__title title">Повышаем выплаты</div>
									<div class="card__text-wrap">
										<p>Loft.partners — это партнерская программа от прямого рекламодателя
											Loftcasino. Для того что бы начать зарабатывать с партнерской программой
											Loft.partners, необходимо зарегистрироваться на сайте. Для того что бы
											начать зарабатывать с партнерской программой Loft.partners.</p>
									</div>
									<div class="card__btn-wrap">
										<span class="card__btn btn btn-lg btn-accent">Подробнее</span>
									</div>
								</a>
							</div>
							<div class="slider-news__slide slider__slide swiper-slide">
								<a href="news-single.html" class="card card_md">
									<div class="card__img-wrap">
										<img src="assets/img/main/card-1.jpg" alt="alt"
											class="card__img img-responsive">
										<span class="card__date title">27.03</span>
									</div>
									<div class="card__title title">Повышаем выплаты</div>
									<div class="card__text-wrap">
										<p>Loft.partners — это партнерская программа от прямого рекламодателя
											Loftcasino. Для того что бы начать зарабатывать с партнерской программой
											Loft.partners, необходимо зарегистрироваться на сайте. Для того что бы
											начать зарабатывать с партнерской программой Loft.partners.</p>
									</div>
									<div class="card__btn-wrap">
										<span class="card__btn btn btn-lg btn-accent">Подробнее</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="section-callback" id="join">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-xl-8">
					<h2 class="section-title">Стать<br> участником</h2>

					<form class="form-join form" action="/client/partner" name="formJoin">
						<div class="form-join__controls form__controls">
							<div class="form-join__row form__row row">
								<div class="form-join__col form__col col-md-6">
									<div class="form-join__group form__group">
										<input type="text" class="form-join__control form__control control"
											autocomplete="off" placeholder="Имя" name="company_name"
											data-required="shortStr"
											data-invalid-message="Пожалуйста введите корректное имя"
											data-blank="Не может быть пустым">
									</div>
								</div>
								<div class="form-join__col form__col col-md-6">
									<div class="form-join__group form__group">
										<input type="email" class="form-join__control form__control control"
											autocomplete="off" placeholder="E-mail" name="email" data-required="email"
											data-invalid-message="Пожалуйста введите корректный E-mail"
											data-blank="Не может быть пустым" data-wrong-email="Неверный email">
									</div>
								</div>
								<div class="form-join__col form__col col-md-6">
									<div class="form-join__group form__group">
										<select class="form-join__select form__select select">
											<option value="telegram" selected>Мессенджер</option>
											<option value="skype">Skype</option>
										</select>
									</div>
								</div>
								<div class="form-join__col form__col col-md-6">
									<div class="form-join__group form__group">
										<input type="text" class="form-join__control form__control control"
											autocomplete="off" placeholder="Имя в мессенджере" name="telegram"
											data-required="shortStr"
											data-invalid-message="Пожалуйста введите корректное имя"
											data-blank="Не может быть пустым"
											data-too-long-s="Слишком длинный (макс. 70 символов)">
									</div>
								</div>
								<div class="form-join__col form__col col-md-6">
									<div class="form-join__group form__group">
										<input type="text" class="form-join__control form__control control"
											autocomplete="off" placeholder="Имя в skype" name="skype"
											data-required="shortStr"
											data-invalid-message="Пожалуйста введите корректное имя"
											data-blank="Не может быть пустым"
											data-too-long-s="Слишком длинный (макс. 70 символов)">
									</div>
								</div>
								<div class="form-join__col form__col col-md-6">
									<div class="form-join__group form__group">
										<input type="password" class="form-join__control form__control control"
											placeholder="Пароль" name="password" data-required="notEmpty"
											data-invalid-message="Пожалуйста введите пароль"
											data-blank="Не может быть пустым"
											data-too-short="Слишком короткий (мин. 6 символов)"
											data-too-long="Слишком длинный (макс. 128 символов)">
									</div>
								</div>
								<div class="form-join__col form__col col-md-6">
									<div class="form-join__group form__group">
										<input type="password" class="form-join__control form__control control"
											placeholder="Повтор пароля" name="password_confirmation"
											data-required="notEmpty" data-invalid-message="Пожалуйста введите пароль"
											data-password-notmatches="Пароли не совпадают"
											data-blank="Не может быть пустым" data-not-matches-server="Не совпадают">
									</div>
								</div>
							</div>
						</div>
						<div class="form-join__checkboxes form__checkboxes">
							<label class="form-join__checkbox form__checkbox checkbox">
								<input type="checkbox" class="checkbox__input" checked name="terms_accepted">
								<span class="checkbox__box"></span>
								<span class="checkbox__text">Согласие на обработку персональных данных</span>
							</label>
						</div>
						<div class="form-join__btns form__btns">
							<button type="submit" class="form-join__btn form__btn btn btn-lg btn-accent"
								disabled>Присоединиться</button>
						</div>
						<div class="form-join__links form__links">
							<a href="login.html" class="form-join__link form__link">У меня уже есть аккаунт</a>
						</div>
					</form>
				</div>
			</div>

		</div>
	</section>

	<section class="section-contacts" id="contacts">
		<div class="container">

			<h2 class="section-title">Контакты</h2>

			<div class="contacts">
				<div class="contacts__row row">
					<div class="contacts__col col-xl-4 col-6">
						<a href="https://t.me/manager.loft" class="contacts__item item-contacts" target="_blank">
							<img src="assets/img/icons/telegram.svg" alt="alt"
								class="item-contacts__icon img-responsive">
							<div class="item-contacts__content">
								<div class="item-contacts__title">Telegram</div>
								<div class="item-contacts__value title">@manager.loft</div>
							</div>
						</a>
					</div>
					<div class="contacts__col col-xl-4 col-6">
						<a href="mailto:manager@manager.loft" class="contacts__item item-contacts">
							<img src="assets/img/icons/email.svg" alt="alt" class="item-contacts__icon img-responsive">
							<div class="item-contacts__content">
								<div class="item-contacts__title">Mail</div>
								<div class="item-contacts__value title">manager@manager.loft</div>
							</div>
						</a>
					</div>
					<div class="contacts__col col-xl-4 col-6">
						<a href="#" class="contacts__item item-contacts" target="_blank">
							<img src="assets/img/icons/skype.svg" alt="alt" class="item-contacts__icon img-responsive">
							<div class="item-contacts__content">
								<div class="item-contacts__title">Skype</div>
								<div class="item-contacts__value title">@manager.loft</div>
							</div>
						</a>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>

{{> footer }}