{{> header title="Loft"}}

<div class="content-page">
	<section class="section-posts">
		<div class="container">
	
			<h1 class="page-title">Новости</h1>
			
			<div class="cards">
				<div class="cards__row row">
					<div class="cards__col col-xl-4 col-md-6">
						<a href="news-single.html" class="cards__item card card_sm">
							<div class="card__img-wrap">
								<img src="assets/img/main/card-1.jpg" alt="alt" class="card__img img-responsive">
								<span class="card__date title">27.03</span>
							</div>
							<div class="card__title title">Повышаем выплаты</div>
							<div class="card__text-wrap">
								<p>Loft.partners — это партнерская программа от прямого рекламодателя Loftcasino. Для того что бы начать зарабатывать с партнерской программой Loft.partners, необходимо зарегистрироваться на сайте. Для того что бы начать зарабатывать с партнерской программой Loft.partners.</p>
							</div>
							<div class="card__btn-wrap">
								<span class="card__btn btn btn-sm btn-accent">Подробнее</span>
							</div>
						</a>
					</div>
					<div class="cards__col col-xl-4 col-md-6">
						<a href="news-single.html" class="cards__item card card_sm">
							<div class="card__img-wrap">
								<img src="assets/img/main/card-1.jpg" alt="alt" class="card__img img-responsive">
								<span class="card__date title">27.03</span>
							</div>
							<div class="card__title title">Повышаем выплаты</div>
							<div class="card__text-wrap">
								<p>Loft.partners — это партнерская программа от прямого рекламодателя Loftcasino. Для того что бы начать зарабатывать с партнерской программой Loft.partners, необходимо зарегистрироваться на сайте. Для того что бы начать зарабатывать с партнерской программой Loft.partners.</p>
							</div>
							<div class="card__btn-wrap">
								<span class="card__btn btn btn-sm btn-accent">Подробнее</span>
							</div>
						</a>
					</div>
					<div class="cards__col col-xl-4 col-md-6">
						<a href="news-single.html" class="cards__item card card_sm">
							<div class="card__img-wrap">
								<img src="assets/img/main/card-1.jpg" alt="alt" class="card__img img-responsive">
								<span class="card__date title">27.03</span>
							</div>
							<div class="card__title title">Повышаем выплаты</div>
							<div class="card__text-wrap">
								<p>Loft.partners — это партнерская программа от прямого рекламодателя Loftcasino. Для того что бы начать зарабатывать с партнерской программой Loft.partners, необходимо зарегистрироваться на сайте. Для того что бы начать зарабатывать с партнерской программой Loft.partners.</p>
							</div>
							<div class="card__btn-wrap">
								<span class="card__btn btn btn-sm btn-accent">Подробнее</span>
							</div>
						</a>
					</div>
					<div class="cards__col col-xl-4 col-md-6">
						<a href="news-single.html" class="cards__item card card_sm">
							<div class="card__img-wrap">
								<img src="assets/img/main/card-1.jpg" alt="alt" class="card__img img-responsive">
								<span class="card__date title">27.03</span>
							</div>
							<div class="card__title title">Повышаем выплаты</div>
							<div class="card__text-wrap">
								<p>Loft.partners — это партнерская программа от прямого рекламодателя Loftcasino. Для того что бы начать зарабатывать с партнерской программой Loft.partners, необходимо зарегистрироваться на сайте. Для того что бы начать зарабатывать с партнерской программой Loft.partners.</p>
							</div>
							<div class="card__btn-wrap">
								<span class="card__btn btn btn-sm btn-accent">Подробнее</span>
							</div>
						</a>
					</div>
				</div>
			</div>
	
		</div>
	</section>
</div>

{{> footer }}