{{> header title="Loft"}}

<div class="content-page">
	<section class="section-page">
	
		<div class="stage" style="background-image: url(assets/img/main/bg.png);">
			<div class="container">
	
				<div class="stage__items">
					<img src="assets/img/main/chip-1.png" alt="alt" class="stage__item rotating img-responsive">
					<img src="assets/img/main/chip-2.png" alt="alt" class="stage__item rotating img-responsive">
					<img src="assets/img/main/chip-3.png" alt="alt" class="stage__item rotating img-responsive">
				</div>
	
			</div>
		</div>
	
		<div class="container">
	
			<h1 class="page-title page-title_section">Смена пароля</h1>
	
			<form class="form-auth form" name="formRestorePassword" action="/client/partner/password">
				<div class="form-auth__controls form__controls">
					<div class="form-auth__row row">
						<div class="form-auth__col form__col col-12">
							<div class="form-auth__group form__group">
								<input type="email" class="form-auth__control form__control control" autocomplete="off" placeholder="Введите ваш e-mail" name="email" data-required="email" data-invalid-message="Пожалуйста введите корректный E-mail" data-blank="Не может быть пустым" data-not-found="Не найден">
							</div>
						</div>
					</div>
				</div>
				<div class="form-auth__btns form__btns">
					<button type="submit" class="form-auth__btn form__btn btn btn-lg btn-accent" disabled>Сменить</button>
				</div>
			</form>
	
		</div>
	</section>
</div>

{{> footer }}